@import "tailwindcss";
@import "tw-animate-css";
@import "@daveyplate/better-auth-ui/css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: hsl(0 0% 97.6471%);
  --foreground: hsl(220 60.0000% 9.8039%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(220 60.0000% 9.8039%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(220 60.0000% 9.8039%);
  --primary: hsl(192 71.4286% 13.7255%);
  --primary-foreground: hsl(40.0000 50% 88.2353%);
  --secondary: hsl(40.0000 47.0852% 56.2745%);
  --secondary-foreground: hsl(0 0% 97.6471%);
  --muted: hsl(0 0% 91.7647%);
  --muted-foreground: hsl(0 0% 33.3333%);
  --accent: hsl(176.4706 27.8689% 88.0392%);
  --accent-foreground: hsl(220 60.0000% 9.8039%);
  --destructive: hsl(0 69.4215% 47.4510%);
  --destructive-foreground: hsl(0 0% 97.6471%);
  --border: hsl(0 0% 86.2745%);
  --input: hsl(0 0% 100%);
  --ring: hsl(175.2632 90.4762% 41.1765%);
  --chart-1: hsl(192 71.4286% 13.7255%);
  --chart-2: hsl(40.0000 45% 60.7843%);
  --chart-3: hsl(175.2632 90.4762% 41.1765%);
  --chart-4: hsl(37.5000 50% 31.3725%);
  --chart-5: hsl(0 69.4215% 47.4510%);
  --sidebar: hsl(220 60.0000% 9.8039%);
  --sidebar-foreground: hsl(0 0% 97.6471%);
  --sidebar-primary: hsl(40.0000 45% 60.7843%);
  --sidebar-primary-foreground: hsl(220 60.0000% 9.8039%);
  --sidebar-accent: hsl(175.2632 90.4762% 41.1765%);
  --sidebar-accent-foreground: hsl(220 60.0000% 9.8039%);
  --sidebar-border: hsl(37.5000 50% 31.3725%);
  --sidebar-ring: hsl(175.2632 90.4762% 41.1765%);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Fira Code;
  --radius: 1.2rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(210 90.0000% 3.9216%);
  --foreground: hsl(40 27.9070% 83.1373%);
  --card: hsl(220 60.0000% 9.8039%);
  --card-foreground: hsl(40 27.9070% 83.1373%);
  --popover: hsl(220 60.0000% 9.8039%);
  --popover-foreground: hsl(40 27.9070% 83.1373%);
  --primary: hsl(40.0000 45% 60.7843%);
  --primary-foreground: hsl(210 90.0000% 3.9216%);
  --secondary: hsl(175.2632 90.4762% 41.1765%);
  --secondary-foreground: hsl(210 90.0000% 3.9216%);
  --muted: hsl(214.2857 46.6667% 11.7647%);
  --muted-foreground: hsl(0 0% 47.8431%);
  --accent: hsl(37.5000 50% 31.3725%);
  --accent-foreground: hsl(40 27.9070% 83.1373%);
  --destructive: hsl(2.9752 62.0513% 38.2353%);
  --destructive-foreground: hsl(0 0% 97.6471%);
  --border: hsl(216 28.4553% 24.1176%);
  --input: hsl(214.2857 46.6667% 11.7647%);
  --ring: hsl(40.0000 45% 60.7843%);
  --chart-1: hsl(40.0000 45% 60.7843%);
  --chart-2: hsl(175.2632 90.4762% 41.1765%);
  --chart-3: hsl(40 27.9070% 83.1373%);
  --chart-4: hsl(37.5000 50% 31.3725%);
  --chart-5: hsl(2.9752 62.0513% 38.2353%);
  --sidebar: hsl(210 90.0000% 3.9216%);
  --sidebar-foreground: hsl(40 27.9070% 83.1373%);
  --sidebar-primary: hsl(40.0000 45% 60.7843%);
  --sidebar-primary-foreground: hsl(210 90.0000% 3.9216%);
  --sidebar-accent: hsl(175.2632 90.4762% 41.1765%);
  --sidebar-accent-foreground: hsl(210 90.0000% 3.9216%);
  --sidebar-border: hsl(216 28.4553% 24.1176%);
  --sidebar-ring: hsl(40.0000 45% 60.7843%);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Fira Code;
  --radius: 0.3rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
